

/*INICIO ESTILOS NOSOTROS*/

.quote .aboutUs {
    text-align: center;
}

body .quote .profileContainer {
    
    max-width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;

}

body .quote .profileContainer .profileImage {
    
    max-width: 30%;
    margin: 0 20px 0 35px;
   
}

body .quote .profileContainer .profileImage #image {
    
    border-radius: 50%;
    border: 5px solid #8B77C1;
    
    
}


body .quote .profileContainer .profileDescription {
    width: 50%;
    height: 250px;
    margin: 10px 35px 10px 35px;
}

body .profileContainer .profileDescription .profileName {
    font-size: 1.5rem;
    text-align:center;
    color: #8B77C1;
    padding-left: 25px;
}

body .profileContainer .profileDescription .description {
padding-top: 15px;
}


@keyframes animate {
  20% {
    background-image: url(slider5.jpg);
    background-size: cover;
  }

  40% {
    background-image: url(slider4.jpg);
    background-size: cover;
  }

  60% {
    background-image: url(slider3.jpg);
    background-size: cover;
  }

  80% {
    background-image: url(slider2.jpg);
    background-size: cover;
  }

  100% {
    background-image: url(slider1.jpg);
    background-size: cover;
  }
}



.footer {
    background: #8B77C1;
    padding: 32px 0;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

/*RESPONSIVE*/
@media only screen and (max-width: 900px) {
  header div.header, header div.header ul, header div.header ul li {
  display: inline;}

  header div.header nav {
    width: 100%;
    display: inline;
  }
}
@media only screen and (max-width: 700px) {
  #menu-check:not(:checked) ~ nav {
    display: none;
  }

  #menu-check:checked ~ nav {
    display: block;
  }

  #menu {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid var(--color-1);
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }

  #menu-cerrar {
    display: none;
  }

  #menu-check:checked ~ label #menu-abrir {
    display: none;
  }

  #menu-check:checked ~ label #menu-cerrar {
    display: block;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  body {
    background-color: white;
  }
}

@media screen and (max-width: 480px) {
  .btn {
    display: block;
    font-size: 18px;
  }
  .submenu {
    width: 100%;
    position: relative;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 18px;    
  }
  section {
    padding: 25px 0 15px 0;
  }
  .feature {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 16px;
  }
  .feature img {
    width: 15%;
    min-width: 60px;
    margin-right: 20px;
  }
  .quote {
    padding: 30px 0;
  }
  blockquote p {
    font-size: 18px;
  }
  blockquote cite {
    font-size: 14px;
  }
  footer {
    padding: 30px 0 10px 0;
  }
  footer li {
    display: block;
    margin: 5px 0;
  }
}
/*FIN RESPONSIVE*/